# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode6.4

env:
  matrix:
    - CONFIG=osx_python2.7
    - CONFIG=osx_python3.5
    - CONFIG=osx_python3.6
    - CONFIG=osx_python3.7

  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "Uax2Lpro/qVSlpoCVVIGT/lbK0thv1CpbwQOe3YunolF3lGLyVJKZ8PAklo5pnK1w4RA5m04bUTl20rcn4PccGGG8F8+jhLD3lcFWxznbjENq/ywjIMh/nndfsq0pdMOgDZ5lvfny9/wPGOos7KAcPrIMXX4CHhK7uv5Rrs9SCr4EvwOFtPPQ4CHY3rPNUw8k/ClAHggk7zH33H+hiaKn8MIM+uWkFSveeL/gZRTsbCpytD2cbgkNeiqlmUbavFdzmLZi3JurEMKV0fMn9yDPMsaq28GdZZcqPyAQ/AU9FEmzDokoz9iXWyMK6p/3NeZh85SJwKIzyNIGo975ZmSIwySLs8lL2/vLX+cAikIcs3iSjfXkkwBEpZmwVrnvg18Fegf2foaEFgeS1If6mKA+kY1GhQm7glGRuiw2fB2yNzp6hU9sY59+CsZxLDXIyyodiayHDFvZmSZILOFLvs0JBMuisjNdB8j1rqWKGQfEC0zZjYgoLExtsyb2O/wSGeLG25JUJ7c3D/a2dH3bzXkCC6+IkMNgMNzR26FUPo/5XFHSjz42/G23SbOn77PP6Dj4vPAXx16yn3zyxoYpvzfRBfQ8L/vqx4qjuCqTfSpqPCFLQEpBjVPWcyLBwWYgN8+voPVXb2kfFjRsdYVDhSeb1yu4YAIP1AyUnHpaTY/3Wo="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-ci-setup-feedstock/branch2.0/recipe/conda_forge_ci_setup/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root

      conda install --yes --quiet conda-forge::conda-forge-ci-setup=2
      setup_conda_rc ./ ./recipe ./.ci_support/${CONFIG}.yaml

      source run_conda_forge_build_setup

    # compiler cleanup
    - |
      mangle_compiler ./ ./recipe ./.ci_support/${CONFIG}.yaml

script:
  # generate the build number clobber
  - make_build_number ./ ./recipe ./.ci_support/${CONFIG}.yaml

  - conda config --remove channels defaults --force

  - conda build ./recipe -m ./.ci_support/${CONFIG}.yaml --clobber-file ./.ci_support/clobber_${CONFIG}.yaml
  - upload_package ./ ./recipe ./.ci_support/${CONFIG}.yaml
